/* 
    Documento  : estilosPropios
    Creado el  : 08-09-2012
    Autor      : Ing. Karen Peñate
    Descripción:
        Esta hoja de estilo permite agregar estilos propios que el desarrollador
estime conveniente
*/

body{ font-size: 80%;font-family: "Tahoma", "Geneva", sans-serif; margin: 50px; background: url(../imagenes/background.png) repeat;}
.demoHeaders { color: #2F589F; margin-top: 2em; }
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}
div#divpagina{
    position:absolute; 
    width:100%;
    left:0px; 
    top: 0px; 
    min-width:1000px;
}

.procesoAdmin{
    right:-150px;
    position: relative;
}

div#divcuerpo{
    position:absolute; 
    width:960px; 
    left:50%; 
    right:50%; 
    margin-left:-470px; 
    background-color: #FFFFFF;
    top:120px;
    min-height: 360px;
    border-style: solid;
    border-width: 3px;
    border-radius:20px;
    -moz-border-radius: 20px;
    box-shadow: 15px 10px 15px grey;
    -webkit-box-shadow: 15px 10px 15px grey;
    -moz-box-shadow: 15px 10px 15px grey;
}
.letraazul{
    color:#2F589F;
    font-weight: bold;
    line-height: 3px;
}

.thEstandar{
    background-color: #2F589F;
    color:#FFFFFF;
    font-weight: bold;
    border-color: #2F589F;
    border-style: solid;
    font-size: 14px
}

.error{
    color: #FF0000;
    font-weight: bold;
    line-height: 6px;
}

.exito{
    color:#5FB404;
    font-weight: bold;
    line-height: 6px;
}

.h2Titulos{
    text-align: center;
    color:#2F589F;
    font-weight: bold;
    line-height: 6px;
    font-size: 14px;
}

.filsetParticipantes{
    border-color: #2F589F;
    height:85px;
    width:175px;  
}

.tdLugar{
    width:120px;  
}

.tdEspacio{
    width:300px;  
}

/*quitar Borde a los texBox*/
.bordeNo{
    border-style: none;  

}
.textD{
    text-align: right;
}

label.error { 
    float: none; 
    /* color: red; */
    padding-left: .5em; 
    vertical-align: center; 
}

.p { 
    clear: both; 
}

em { 
    font-weight: bold; 
    padding-right: 1em; 
    vertical-align: top; 
}

#btn_subir {
    width:32px;
    height:32px;
    background-image:url(../imagenes/upload.png);
    cursor: pointer;
}

#btn_pub_subir {
    width:32px;
    height:32px;
    background-image:url(../imagenes/upload.png);
    cursor: pointer;
}

#btn_exp_subir {
    width:32px;
    height:32px;
    background-image:url(../imagenes/upload.png);
    cursor: pointer;
}

.login1 A:link { color: #0061aa}
.login1 A:visited { color: #0061aa}
.login1 A:active { color: #0061aa}
.login1 A:hover { color: #78cee7}

/*Estilo pie de pagina*/
.footer {
    clear: both;
    background: #205B96;
    color: whiteSmoke;
    font-size:11px;
    font-family: 'Open Sans',arial,sans-serif;
    border-top: 1px solid #0B2161;
    padding: 10px 15px 10px 15px;
    position: absolute;
    width: 930px;
    bottom: 0%;
    border-radius: 0px 0px 15px 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
}

img{
    border-style: none;
}

.fechaAdmin{
    background-color: #2F589F; 
    color: white; 
    font-weight: bold;
    padding: 2px;
    border-color: #2F589F;
}

.imagenError{
    width:25px;
    height:25px;
    position: relative;
    top:8px;
}


/* Agregados por Alexis Beltran */

/****************
    Formularios
 ***************/
 
 
#actions {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 30px;
	border-left-color: white;
	border-left-style: solid;
	border-left-width: 1px;
	/*float: right;*/
	width: 700px;
	text-align: right;
}

form .campo label {
    margin-left:	20px;
    width: 150px;
    display: inline-block;

}

from .campo input {
    width: 200px;
}
 
#rpt {
}

#rpr_hdr {
    color: #222;
    font-size:  120%;
    font-weight: bold;
    float: left;
}

#rpt_frm_hdr,
#rpt_opt_hdr,
#rpt_prt_hdr {
    color: #222;
    text-decoration: none;
    font-size:  110%;
	background: #fff;
	border-bottom: #999 0px solid;
	border-right: #999 0px solid;
	height: 24px;
}

#rpt-border {
  background: url(../images/header_border.png) no-repeat;
  clear: both;
  height: 3px;
  margin-bottom: 20px;
}

#rpt_frm_hdr img,
#rpt_opt_hdr img,
#rpt_prt_hdr img {
	
	cursor: pointer;
}

#rpt_frm_bdy,
#rpt_opt_bdy,
#rpt_prt_bdy {
}

#rpt_frm_bdy .campo {
	margin-bottom:	10px;
	display: 		block;
}

#rpt_frm_bdy .campo label {
	width: 			300px;
	margin-left:	20px;
	display:        inline-block;
	line-height: 	35px;
	cursor: 		pointer;
    text-align:     right;
}

#rpt_frm_bdy .campo input[type=text] {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: -3;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20px;
    width: 251px;
}

#rpt_frm_bdy .tabla{
    margin-left: 20px;
    margin-right: 20px;    
}

#rpt_frm_bdy .tabla label{
    
}


.rpt_groupBy {
	margin-left: 5px;
    font-size: 100%;
    font-weight: bold;
}

.ui-datepicker-trigger{
    vertical-align: middle;
    margin-left: 5px;
}

