/* 
    Documento  : estilosPropios
    Creado el  : 08-09-2012
    Autor      : Ing. Karen Peñate
    Descripción:
        Esta hoja de estilo permite agregar estilos propios que el desarrollador
estime conveniente
*/
div#divpagina{
    position:absolute; 
    width:100%;
    left:0px; 
    top: 0px; 
    min-width:1000px;
}

div#divcuerpo{
    position:absolute; 
    width:1000px; 
    left:50%; 
    right:50%; 
    margin-left:-450px; 
    background-color: #FFFFFF;
    top:150px;
}

.letraazul{
    color:#2F589F;
    font-weight: bold;
    line-height: 3px;
}

.thEstandar{
    background-color: #2F589F;
    color:#FFFFFF;
    font-weight: bold;
    border-color: #2F589F;
    border-style: solid;
    font-size: 14px
}

.error{
    color: #FF0000;
    font-weight: bold;
    line-height: 6px;
}

.exito{
    color:#5FB404;
    font-weight: bold;
    line-height: 6px;
}

.h2Titulos{
    text-align: center;
    color:#2F589F;
    font-weight: bold;
    line-height: 6px;
    font-size: 14px;
}

.filsetParticipantes{
    border-color: #2F589F;
    height:85px;
    width:175px;  
}
/*quitar Borde a los texBox*/
.bordeNo{
   border-style: none;  
   
}
.textD{
    text-align: right;
}

label.error { 
    float: none; 
   /* color: red; */
    padding-left: .5em; 
    vertical-align: center; 
}

.p { 
    clear: both; 
}

em { 
    font-weight: bold; 
    padding-right: 1em; 
    vertical-align: top; 
}

#btn_subir {
	width:32px;
	height:32px;
	background-image:url(../imagenes/upload.png);
	cursor: pointer;
}

.login1 A:link { color: white}
.login1 A:visited { color: white}
.login1 A:active { color: white}
.login1 A:hover { color: #78cee7}

/*Estilo pie de pagina*/
footer {
  clear: both;
  background: #205B96;
  color: whiteSmoke;
  font-size:11px;
  font-family: 'Open Sans',arial,sans-serif;
  border-top: 1px solid #0B2161;
  padding: 10px 15px 10px 15px;
  position: relative;
  bottom:0%;
  width:97.85%; 
}