/* Root = Horizontal, Secondary = Vertical */
ul#menuh {
    margin: 0;
    border: 0 none;
    padding: 0;
    width: 50px;
    list-style: none;
    height: 10px;
    /*border:1px solid #eee;*/
    padding-bottom:5px;
}

ul#menuh li {
    margin: 0;
    border: 0 none;
    padding: 0;
    float: left; 
    display: inline;
    list-style: none;
    position: relative;
    height: 20px;
}
ul#menuh li{
    padding-bottom:5px;
}
ul#menuh li:hover{
    background: url(../imagenes/background-Menu.png);
}

ul#menuh  ul {
    margin: 0;
    border: 0 none;
    padding: 0;
    width: 160px;
    list-style: none;
    display: none;
    position: absolute;
    top: 25px;
    left: 10px;
    background: white;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=80);
}

ul#menuh ul:after /*From IE 7 lack of compliance*/{
    clear: both;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}

ul#menuh ul li {
    width: 160px;
    float: left; /*For IE 7 lack of compliance*/
    display: block !important;
    display: inline; /*For IE*/
    background: white;
    border-color: #778;
    border-style: solid; 
    border-width: 1px;
    border-top-width: 0;
}

/* Root Menu */
ul#menuh a {
    padding: 5px 15px 5px;
    float: none !important; /*For Opera*/
    float: left; /*For IE*/
    display: block;
    color: #9fcf21;/*Color letra menu principal*/
    text-decoration: none;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    font-weight:bold;
    text-decoration: none;
    height: auto !important;
    height: 1%; /*For IE*/
}

/* Root Menu Hover Persistence */
ul#menuh a:hover,
ul#menuh li:hover a,
ul#menuh li.iehover a {
    color: #2F589F;

}

/* 2nd Menu */
ul#menuh li:hover li a,
ul#menuh li.iehover li a {
    float: none;
    border:none;
}

/* 2nd Menu Hover Persistence */
ul#menuh li:hover li a:hover,
ul#menuh li:hover li:hover a,
ul#menuh li.iehover li a:hover,
ul#menuh li.iehover li.iehover a {
    background: #7BC8FB;
    color: #000080;
}

/* 3rd Menu */
ul#menuh li:hover li:hover li a,
ul#menuh li.iehover li.iehover li a {
    background: #7BC8FB;
    color: #666;
}

/* 3rd Menu Hover Persistence */

ul#menuh li:hover li:hover li a:hover,
ul#menuh li:hover li:hover li:hover a,
ul#menuh li.iehover li.iehover li a:hover,
ul#menuh li.iehover li.iehover li.iehover a {
    background: #7BC8FB;
    color: #FFF;
}

/* 4th Menu */
ul#menuh li:hover li:hover li:hover li a,
ul#menuh li.iehover li.iehover li.iehover li a {
    background: #7BC8FB;
    color: #666;
}

/* 4th Menu Hover */
ul#menuh li:hover li:hover li:hover li a:hover,
ul#menuh li.iehover li.iehover li.iehover li a:hover {
    background: #7BC8FB;
    color: #FFF;
}

ul#menuh ul ul,
ul#menuh ul ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#menuh li:hover ul ul,
ul#menuh li:hover ul ul ul,
ul#menuh li.iehover ul ul,
ul#menuh li.iehover ul ul ul {
    display: none;
}

ul#menuh li:hover ul,
ul#menuh ul li:hover ul,
ul#menuh ul ul li:hover ul,
ul#menuh li.iehover ul,
ul#menuh ul li.iehover ul,
ul#menuh ul ul li.iehover ul {
    display: block;
}
ul#menuh .selected{
    color: #003300;
}


